<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='apple-touch-icon.ico') }}">
    <title>ChatGPT</title>
    <style>
    body{margin:0;padding:0;height:100vh;display:flex;flex-direction:column;font-family:sans-serif}
    iframe{height:100%;width:100%;border:0;outline:0;}
    .pages{display:flex;flex:1;}
    button{margin:3px;border:0;padding:8px;border-radius:6px;transition:.4s all;transform:scale(0.9);cursor:pointer;color:white;background:grey}
    .active {background:rgb(40, 86, 136);transform:scale(1);}
    </style>
    </head>
    <body>

    <div>
    <button data-page='app' onclick="open_page(this)">ChatGPT</button><button data-page='search' onclick="open_page(this)">Google</button>
    <a href="https://platform.openai.com/account/usage" target="openai--" style="float:right;margin:6px;">Ver gastos</a>
    </div>

    <div class="pages" id="main">
    <iframe src="/app" id="app">
      <p>Your browser does not support iframes.</p>
    </iframe>
    <iframe src="/search" id="search">
      <p>Your browser does not support iframes.</p>
    </iframe>
    </div>

<script>
    function open_page(button) {
        const page = button.dataset.page;
        
        const p = document.getElementById(page);
        if (button.className === 'active' && page === 'app') {
            p.src = p.src;
            console.log('reloading...')
        }
        [...document.querySelectorAll('button')].forEach(el=>el.classList.remove('active'));
        button.classList.add('active');
        [...document.querySelectorAll('iframe')].forEach(el=>el.style.display='none');
        p.style.display='block';
    }
    document.querySelector('button').click();
    </script>

    <body>
</html>